---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: "{{ tag | capitalize}}"
permalink: /tag/{{ tag | slug }}/
---

<h1 class="tag__title">
  #{{ title }}
</h1>

{% set postslist = collections[ tag ] %}
{% include "tag-postslist.njk" %}
